body {
    font-size: 10px;
    height: 1000px;
}
header .wraptherow{
    display: flex;
    justify-content: center;
}

header .row{
    outline:1px solid red;
    width: 80%;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.nav-left .logo {
    outline:1px solid red;
    width: 200px;
}
.nav-right {
    outline:1px solid red;
}
.nav-right a {
    color: #ccc;
}

.nav-right a:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}





@media (max-width:576px) {
    header .wraptherow{
        width: 100%;
        height: 100px;
        background-color: black;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 1;
    }
    header .row {
        padding: 0 8rem;
        background-color: black;
        display: flex;
        justify-content: center;
    }
    header div .logo{
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        position: relative;
    }

    main .container-fluid .wrap-img{
        margin-top: 30px!important;
        width: 500px;
        height: 500px;
        background: url('./images/iNTRO/intro_headshot.png');
        background-size: cover;
    }
    main .container-fluid {   
        height: 1650px;  
     }
}